.port {
    background-image: url('../resource/header_bg.jpg');
    background-size: cover;
    color:white;
    margin: 0;
    min-height: 300px;
    background-position-y: 50%;
}

.port > h1 {
    padding: 30px;
}

.cursor-pointer{
    cursor: pointer;
}

.present {
    text-align: center;
    padding-bottom: 30px;
}

.present > div > div > span {
    font-size: 60px;
    padding-top: 30px;
}

a {
    color: #3498DB;
}

/*================================================================================*/



.bg-color-ws{
    background-color: white;
}

.main-div {
    margin-top: 51px;
    height: 100%;
    margin-bottom: 350px;
}


.full-height {
    height: 100%;
}

.div-list-data  > label {
    font-weight: normal;
}

.div-list-data > .title {
    font-weight: 700;
}

.width-50por{
    width: 50%;
}

.width-max-100por{
    max-width: 100%;
}

.tumblr{
    max-width: 200px;
    max-height: 200px;
}

.min-height-200px {
    min-height: 200px;
}

.height-max-50por{
    max-height: 100%;
}

.float-right{
    float: right;
}

.bg-success{
    background-color: #5cb85c;
}

.color-b{
    color: black;
}

.color-b:hover{
    color: grey;
}

.label-title {
    font-size: 30px;
    font-weight: normal;
    color: darkblue
}

.button-trash{
    padding-right: 4px;
    padding-top: 4px;
}

.img-package {
    max-width: 250px;
    max-height:  250px;
}

.box-tarjet {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px;
    background-color: whitesmoke;
}

.box-tarjet > label.title {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 21px;
    color: #0B0B3B;
}

.btn-minus {
    padding: 4px 8px;
}

.label-title-grey {
    font-size: 20px;
    font-weight: normal;
    color: grey;
    padding: 10px 0px;
}

.padding-tb-20px{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
      bottom: 0;
  height: 100px;
  background-color: black;
  color: white;
  padding-top: 11px;
  font-size: 16px;
  padding-left: 20px;
}

.footer > label {
    font-weight: normal;
}

.footer > label.mail {
    font-style: oblique;
}