<div class="modal-content">
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>De: Sheldon Cooper</label>
                <p> Morbi euismod nisl sit amet auctor malesuada. Cras vitae purus justo. Etiam scelerisque nulla turpis. Duis quis cursus elit. Integer eu diam sit amet tellus sagittis maximus. Duis convallis ut nunc quis varius. Proin et fringilla nibh. Nullam ut felis elit. 
            </div>
            <button type="submit" class="btn btn-warning">Marcar como no leído</button>
            <button type="submit" class="btn btn-primary">Leido</button>
        </form>
    </div>
</div>