<div class="container" ng-controller="NewPackage">
    <div class="div-spacer-small"></div>
    <div class="box-tarjet">
        <h3>Nuevo Paquete</h3>
        <form class="form" role="form">
            <div class="form-group">
                <label>Nombre del paquete</label>
                <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea class="form-control" placeholder="Explicación de lo que el paquete contiene"></textarea>
            </div>
        </div>
        <div class="box-tarjet">
            <div class="form-group">
                <label>Carga de imagenes</label>
                <input class="form-control" type="file" disabled>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
    <div class="box-tarjet">
        <h3>Colectivos</h3>
        <div class="form-group">
            <button class="btn btn-default"  ng-click="newBus()" type="button">Nuevo colectivo</button>
            <button class="btn btn-default"  ng-click="addBus()" type="button">Agregar colectivo</button>
        </div>
        <div class="form-group">
            <table class="table">
                <thead>
                    <th class="col-lg-2"># Quitar</th>
                    <th># Colectivo</th>
                    <th class="col-lg-2"># Cantidad</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in store.selectedBuses">
                        <td><span class="glyphicon glyphicon-trash"  ng-click="delBus(item.idbus)"></span></td>
                        <td>{{item.name}}</td>
                        <td>
                            <span class="glyphicon glyphicon-minus" ng-if="item.count > 0" ng-click="item.count = item.count - 1"></span>
                            {{ item.count}}
                            <span class="glyphicon glyphicon-plus" ng-click="item.count = item.count + 1"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-tarjet">
        <div class="form-group">
            <h3>Hoteles</h3>
            <div class="form-group">
                <button class="btn btn-default"  ng-click="newHotel()" type="button">Nuevo hotel</button>
                <button class="btn btn-default"  ng-click="addHotel()" type="button">Agregar hotel</button>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <th class="col-lg-2"># Quitar</th>
                        <th># Hotel</th>
                        <th class="col-lg-2"># Cantidad</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in store.selectedHotels">
                            <td><span class="glyphicon glyphicon-trash" ng-click="delHotel(item.idhotel)"></span></td>
                            <td>{{ item.name}}</td>
                            <td>
                                <span class="glyphicon glyphicon-minus" ng-if="item.count > 0" ng-click="item.count = item.count - 1"></span>
                                {{ item.count}}
                                <span class="glyphicon glyphicon-plus" ng-click="item.count = item.count + 1"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="div-spacer-small"></div>
    <div class="text-right">
        <button class="btn btn-primary">Guardar</button>
    </div>
    <div class="div-spacer-small"></div>
</div>

