
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-car" style="font-size:18px; color:#3498db;"></span></a>
        </div>
       

    </div>
</div>


<div id="headerwrap">
    <header class="clearfix">
        <h1><span class="icon icon-car"></span></h1>
        <p>Una forma diferente de...</p>
        <p>Administrar tus viajes</p>
    </header>	    
</div><!-- /headerwrap -->


<div id="greywrap">
    <div class="row">
        <div class="col-lg-4 callout">
            <span class="icon icon-stack"></span>
            <h2>Promociones</h2>
            <p>Mira nuestras mejores promociones!</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout">
            <span class="icon icon-eye"></span>
            <h2>Gratis!</h2>
            <p>Utilizá nuestro sistema de forma gratuita</p>
        </div><!-- col-lg-4 -->	

        <div class="col-lg-4 callout">
            <span class="icon icon-heart"></span>
            <h2>Facil</h2>
            <p>Acá va tu vieja en tanga</p>
        </div><!-- col-lg-4 -->	
    </div><!-- row -->
</div><!-- greywrap -->