
<div id="headerwrap">
    <div class="text-right">
        <h1><span class="icon icon-car"></span> Administrador de viajes</h1>
    </div>	    
</div><!-- /headerwrap -->


<div id="greywrap">
    <div class="row">
        <div class="col-lg-4 callout animated zoomIn">
            <span class="icon icon-stack"></span>
            <h2>Promociones</h2>
            <p>Mira nuestras mejores promociones!</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4 callout animated zoomIn">
            <span class="icon icon-eye"></span>
            <h2>Gratis!</h2>
            <p>Utilizá nuestro sistema de forma gratuita</p>
        </div><!-- col-lg-4 -->	

        <div class="col-lg-4 callout animated zoomIn">
            <span class="icon icon-heart"></span>
            <h2>Facil</h2>
            <p>Acá va tu vieja en tanga</p>
        </div><!-- col-lg-4 -->	
    </div><!-- row -->
</div><!-- greywrap -->


<div class="container">
    <label class="label-title-grey col-sm-12 padding-tb-20px">PROMOS DESDE $200!!</label>
</div>
<div class="container">
    <div class="col-sm-3 animated fadeInDown">
        <label class="font-20px">Donec quis arcu at diam lacinia facilisis.</label>
        <img src="resource/imgs/img (6).jpg" class="width-max-100por padding-tb-20px">
        <label class="color-green font-20px">Desde $400!</label>
        <p>Integer tempor orci eu semper laoreet. Integer ornare lectus a eros vestibulum malesuada. Sed sodales justo id turpis pharetra, ut euismod risus euismod. Donec rutrum pretium posuere. </p>
    </div>
    <div class="col-sm-3 animated fadeInDown">
        <label class="font-20px">Etiam molestie odio sit amet mattis tempus.</label>
        <img src="resource/imgs/img (7).jpg" class="width-max-100por padding-tb-20px">
        <label class="color-green font-20px">Por tan solo $800</label>
        <p>Pellentesque congue placerat ultrices. Vivamus maximus, elit vitae eleifend facilisis, lorem leo vulputate enim, quis suscipit leo neque eu leo. Sed pellentesque risus id quam efficitur vulputate. </p>
    </div>
     <div class="col-sm-3 animated fadeInDown">
        <label class="font-20px">Aenean interdum dolor non sem sollicitudin iaculis.</label>
        <img src="resource/imgs/img (8).jpg" class="width-max-100por padding-tb-20px">
        <label class="color-green font-20px">$900 y tenes todo pago!</label>
        <p>Vestibulum lacus turpis, scelerisque nec imperdiet vitae, finibus quis metus. Cras mattis turpis tincidunt, mollis quam at, pellentesque lectus. Suspendisse fermentum interdum enim, id rhoncus dolor vulputate a.</p>
    </div>
    <div class="col-sm-3 animated fadeInDown">
        <label class="font-20px">Aliquam lacinia nisl at augue blandit rhoncus.</label>
        <img src="resource/imgs/img (9).png" class="width-max-100por padding-tb-20px">
        <label class="color-green font-20px">Tus minis vacaciones por $200</label>
        <p>Maecenas gravida, libero eu venenatis commodo, lorem ex sodales enim, sed tincidunt ligula erat non lectus. Nullam consectetur faucibus purus id congue. Integer euismod elit vitae enim molestie</p>
    </div>
    <br/><br/>
    <label class="title col-sm-12"><a href="#">Ver más promociones</a></label>
    <br/><br/>

</div>